a {
  text-decoration: none !important;
  color: black;
  text-align: center;
}
/* nav bar styles */
.nav{
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
  vertical-align: middle;
}
.nav a{
  display:inline-block;
  padding:30px;
  font-size: large;
}
.head {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 50;
}
.header-div {
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
 /* card basic styles  */
.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 100%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  